link(rel='stylesheet', href='/stylesheets/detalle.css')
                        
#consultar.modal.fade( role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            figure.snip1336
                .contenedor
                    img(src='http://eitmedia.mx/media/k2/items/cache/d7ef0b021f0753c7a876ceb95a8308cb_XL.jpg')
                        
                    //- .texto-encima Texto
                    .centrado 
                        //- div(class='col-md-4 col-md-offset-0') 
                        h2 {{clickedTesis.titulo}} 

                figcaption
                    .container
                        #accordion2.accordion
                            .accordion-group
                              
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseOne')
                                        span.i.fas.fa-user
                                        | Alumno   
                                #collapseOne.accordion-body.collapse.in
                                    .accordion-inner
                                        p {{clickedTesis.alumno}}           
                            
                            
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion3', href='#collapse2')
                                        span.i.fas.fa-user-graduate
                                        | Grado    
                                #collapse2.accordion-body.collapse.in
                                    .accordion-inner
                                        p {{clickedPersona.grado}}
                            
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion4', href='#collapse3')
                                        span.i.fas.fa-transgender-alt
                                        | Genero    
                                #collapse3.accordion-body.collapse.in
                                    .accordion-inner
                                        p {{clickedPersona.genero}}

                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion5', href='#collapse4')
                                        span.i.fas.fa-vector-square
                                        | Departamento   
                                #collapse4.accordion-body.collapse.in
                                    .accordion-inner
                                        p {{clickedPersona.departamento}}
                            
                            
                            .accordion-heading
                                a.accordion-toggle.button.btn.btn-danger(type='submit', data-dismiss='modal')
                                    span.i.fas.fa-times
                                    |  Cerrar
                            
                    
                                

                                        
                

                        