extends templates/default

block content
  header#mainHeading
    #banner
      .row
        .col-md-8.col-md-offset-2
          .headings
            .header-content-inner
              h1 Bienvenido al Módulo de Registro de Tesis
              hr
              h3
                | Este módulo tiene como objetivo el registro de tesis,
                | asignación de director, codirectores y la generación de
                | actas de toma de grado de los diferentes departamentos de CINVESTAV.
              br
              a(href='#about',style='color:#fff') desplazarse hacia abajo! ▼
              br
              br
  //- hr
  hr.light
  
  div(class='col-md-6 col-md-offset-3')
  
    if message.length > 0
      script(src='../javascripts/correcto.js')
      //div(class='alert sweetalert-success' role='alert')= message
      
    if authmessage.length > 0
      script(src='../javascripts/error.js')
      //div(class='alert alert-danger' role='alert')= authmessage 

  section#about
  //hexagono
  ul#hexGrid
    li.hex
      a.hexIn(href='/users/investigador')
        img(src='https://historia-biografia.com/wp-content/uploads/2017/10/Sin-t%C3%ADtulo-159.jpg', alt='')
        h1(style="color:white") Investigadores
        p sitio inspirado en la biblioteca de babel
    li.hex
      a.hexIn(href='#')
        img(src='https://gdb.martinoticias.org/3FE451C6-3CE1-45B4-BB21-7268A8948D20_w1023_r1_s.jpg', alt='')
        h1 Borges
        p sitio inspirado en la biblioteca de babel
    li.hex
      a.hexIn(href='#')
        img(src='https://exitosanoticias.pe/wp-content/uploads/2017/06/Borges-en-Sicilia-Palermo-1984-%C2%A9-Ferdinando-Scianna-Magnum-Photos-SCF6179.jpg', alt='')
        h1 Borges
        p sitio inspirado en la biblioteca de babel
    li.hex
      a.hexIn(href='#')
        img(src='https://3.bp.blogspot.com/-rnvv8gCsw0k/UveXZony7LI/AAAAAAAAAmk/g1srQa1Xclo/s530-p-k/biblioteca+st.+cugat+fouquet+libros.jpg', alt='')
        h1 Borges
        p sitio inspirado en la biblioteca de babel
    li.hex
      a.hexIn(href='#')
        img(src='http://cedarspringslibrary.org/wp-content/uploads/2014/04/OldBooks2_BW.jpg', alt='')
        h1 Borges
        p sitio inspirado en la biblioteca de babel
    li.hex
      a.hexIn(href='#')
        img(src='https://www.canonistas.com/galerias/data/504/BIBLIOTECA_11.JPG', alt='')
        h1 Borges
        p sitio inspirado en la biblioteca de babel
    li.hex
      a.hexIn(href='#')
        img(src='http://www.diarioz.com.ar/wp-content/uploads/2017/08/borges-650x475.jpg', alt='')
        h1 Borges
        p sitio inspirado en la biblioteca de babel
    
       

     

 