extends templates/default

block content
  
  //- div(class='col-md-6 col-md-offset-3')
  //-Mensajes de inicio de sesion 
  div
    if message.length > 0
      script(src='../javascripts/correcto.js')
      
    if authmessage.length > 0
      script(src='../javascripts/error.js')
    

  section#about
  .container
    .col-md-8.col-md-offset-2
      .jumbotron
        h1.text-center Bienvenido al M&oacute;dulo de Registro de Tesis
          |                 
          br
          |                 
          br
          |                 
          hr
          |       
          |                 
          h3.text-justify
            | Este m&oacute;dulo tiene como objetivo el registro de tesis
            | , asignaci&oacute;n de director , codirectores y la generaci&oacute;n de
            | actas de toma de grado de los diferentes departamentos de CINVESTAV.

      
        

     

 