doctype html
html
  head
    title Borges
    link(rel='shortcut icon', href='/images/favicon.ico')

    include dependencies
  body
    include nav
  
    #particles-js
    .container 
    #main2
      block content
    #main3
      hr
      include footer
   
script(src='https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js')

script(type='text/javascript', src='/javascripts/index.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js')

script(type='text/javascript', src='/javascripts/index.js')