doctype html
html
  head
    title Borges
    link(rel='shortcut icon', href='/images/favicon.ico')

    include dependencies
  body
    include nav
    br
    br
    #particles-js
    br
    
    block content
          
    hr
    include footer
   
script(src='https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js')

script(type='text/javascript', src='/javascripts/index.js')
