//CSS
link(rel='stylesheet', href='/stylesheets/style.css')

link(rel='stylesheet', href='/stylesheets/panel.css')

// ESTILOS
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')


// Tipo de fuente para iconografia
link(rel='stylesheet', ,='', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', 
integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')

// FONDO
<link rel="stylesheet" href="/stylesheets/index.css">
//mensajes
link(rel='stylesheet', type='text/css', href='../vendor/bootstrap-sweetalert/dist/sweetalert.css')
script(src='../vendor/bootstrap-sweetalert/dist/sweetalert.min.js')

// estilos de fondo animado
link(rel='stylesheet', href='/stylesheets/home.css')

//angular
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
//- script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/js/material.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/js/ripples.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js')  
//- script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')  

//- script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')

// jQuery v3.0.0-beta1
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js')


//modal
link(rel='stylesheet', href='/stylesheets/modal.css')

