//CSS
link(rel='stylesheet', href='/stylesheets/style.css')

// ESTILOS
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')

// Tipo de fuente para iconografia
link(rel='stylesheet', ,='', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')

// FONDO
<link rel="stylesheet" href="/stylesheets/index.css">
//mensajes
link(rel='stylesheet', type='text/css', href='../vendor/bootstrap-sweetalert/dist/sweetalert.css')
script(src='../vendor/bootstrap-sweetalert/dist/sweetalert.min.js')

// estilos de fondo animado
link(rel='stylesheet', href='/stylesheets/home.css')


//- tablas
// Plugin styles
link(rel='stylesheet', type='text/css', href='../vendor/dynatable/jquery.dynatable.css')
//- link(rel='stylesheet', media='all', href='https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css')
// jQuery v3.0.0-beta1
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js')
// JS Pluging
script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js')
script(type='text/javascript', src='../vendor/dynatable/jquery.dynatable.js')

//modal
link(rel='stylesheet', href='/stylesheets/modal.css')


