link(rel='stylesheet', href='/stylesheets/footer.css')
#footer.flex-rw
  ul.footer-list-top
    //- li
    //-   h4.footer-list-header About Pavilion
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/shop/about-mission', itemprop='significantLink') GET TO KNOW US
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/promos.html', itemprop='significantLink') PROMOS
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/retailers/new-retailers.html', itemprop='significantLink') BECOME A RETAILER
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/job-openings.html', itemprop='significantLink') JOB OPENINGS
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/shop/about-show-schedule', itemprop='significantLink') EVENTS
  ul.footer-list-top
    //- li
    //-   h4.footer-list-header The Gift Selection
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/Angels/cat/id/70') ANGEL FIGURINES
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/Home-Decor/cat/id/64') HOME DECOR
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/Mugs/cat/id/32') MUGS
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/Pet-Lover/cat/id/108') PET LOVER
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/Ladies-Accessories/cat/id/117', target='_blank') HANDBAGS & JEWELRY
  ul.footer-list-top
    //- li#help
    //-   h4.footer-list-header Please Help Me
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/shop/about-contact', itemprop='significantLink') CONTACT
    //- li
    //-   a.generic-anchor.footer-list-anchor(href='/faq.html', itemprop='significantLink') FAQ
    //- li#find-a-store
    //-   a.generic-anchor.footer-list-anchor(href='/shop/store-locator', itemprop='significantLink') STORE LOCATOR
    //- li#user-registration
    //-   a.generic-anchor.footer-list-anchor(href='/shop/user-registration?URL=', itemprop='significantLink') NEW USERS
    //- li#order-tracking
    //-   a.generic-anchor.footer-list-anchor(href='/shop/order-status', itemprop='significantLink') ORDER STATUS
  section.footer-social-section.flex-rw
    span.footer-social-overlap.footer-social-connect
      | CONNECTA 
      span.footer-social-small con
      |  NOSOTROS
    span.footer-social-overlap.footer-social-icons-wrapper
      a.generic-anchor(href='', target='_blank', title='Pinterest', itemprop='significantLink')
        i.fab.fa-pinterest
      a.generic-anchor(href='', target='_blank', title='Facebook', itemprop='significantLink')
        i.fab.fa-facebook
      a.generic-anchor(href='', target='_blank', title='Twitter', itemprop='significantLink')
        i.fab.fa-twitter
      a.generic-anchor(href='', target='_blank', title='Instagram', itemprop='significantLink')
        i.fab.fa-instagram
      a.generic-anchor(href='', target='_blank', title='Youtube', itemprop='significantLink')
        i.fab.fa-youtube
      a.generic-anchor(href='', target='_blank', title='Google Plus', itemprop='significantLink')
        i.fab.fa-google-plus
  section.footer-bottom-section.flex-rw
    .footer-bottom-wrapper
      i.fa.fa-copyright(role='copyright')
      |  Borges Copyright 2018
      address.footer-address(role='company address')  CINVESTAV, CDMX
      span.footer-bottom-rights  - Todos los derechos reservados - 
    .footer-bottom-wrapper
      a.generic-anchor(href='', rel='nofollow') Terminos
      |  
      a.generic-anchor(href='', rel='nofollow') Privacidad