link(rel='stylesheet', href='/stylesheets/menu.css')
section#home
  .over-lay
    .slide-nav-btn 
      #p menú
      br
      span
      br     
    
    .slide-nav
      ul
        li
        li 
        br
        br
        li(style='text-align: left;')
          a(href='/users/panel') Tesis
        li(style='text-align: left;')
          //- i.fas.fa-user-tie
          a(href='/users/investigador') Investigadores
        li(style='text-align: left;')
          a(href='/users/panel') Panel
        li(style='text-align: left;')
          a(href='') home
    