
//nav(class="navbar navbar-inverse bg-inverse")
//<nav class="navbar navbar-inverse bg-primary">
//- nav(class="navbar navbar-inverse bg-primary")
//-   div(class="container-fluid")
//-     div(class="navbar-header")
//-       button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
//-         span(class="sr-only")= 'Toggle navigation'
//-         span(class="icon-bar")
//-         span(class="icon-bar")
//-         span(class="icon-bar")
//-       a(class="navbar-brand" href="/")= 'Inicio'
    
//-     div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")     
//-       ul(class="nav navbar-nav navbar-right")
//-         if !isAuthenticated
//-           li
//-             a(href="/auth/signup")= 'Registrarse'
//-           li
//-             a(href="/auth/signin")= 'Iniciar Sesion'
//-         if isAuthenticated
//-           li.dropdown
//-             a.dropdown-toggle(href='#', data-toggle='dropdown')
//-               | Dropdown 
//-               b.caret
//-             ul.dropdown-menu
//-               li
//-                 a(href='#') Action
//-               li
//-                 a(href='#') Another action
//-               li
//-                 a(href='#') Something else here
//-               li.divider
//-               li
//-                 a(href='#') Separated link
//-               li.divider
//-               li
//-                 a(href='#') One more separated link    
//-           li(class="dropdown")
//-             a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")= user.nombre
//-               span(class="caret")
//-             ul(class="dropdown-menu")
//-               li
//-                 a(href="/users/panel")= 'Perfil'
//-               li
//-                 a(href="/auth/logout")= 'Cerrar Sesion'  
//- .page-header
//-   .container
//-     .col-md-6
//-       h1
//-         a(href='/') Borges
  


    
//- br
//- section#about
//-   .container
//-     .row
//-     .div
//-       nav.main-menu
//-         ul
//-           li
//-             a(href='http://justinfarrow.com')
//-               i.fa.fa-home.fa-2x
//-               span.nav-text
//-                 | Dashboard
//-           li.has-subnav
//-             a(href='#')
//-               i.fa.fa-laptop.fa-2x
//-               span.nav-text
//-                 | UI Components
//-           li.has-subnav
//-             a(href='#')
//-               i.fa.fa-list.fa-2x
//-               span.nav-text
//-                 | Forms
//-           li.has-subnav
//-             a(href='#')
//-               i.fa.fa-folder-open.fa-2x
//-               span.nav-text
//-                 | Pages
//-           li
//-             a(href='#')
//-               i.fa.fa-bar-chart-o.fa-2x
//-               span.nav-text
//-                 | Graphs and Statistics
//-           li
//-             a(href='#')
//-               i.fa.fa-font.fa-2x
//-               span.nav-text
//-                 | Typography and Icons
//-           li
//-             a(href='#')
//-               i.fa.fa-table.fa-2x
//-               span.nav-text
//-                 | Tables
//-           li
//-             a(href='#')
//-               i.fa.fa-map-marker.fa-2x
//-               span.nav-text
//-                 | Maps
//-           li
//-             a(href='#')
//-               i.fa.fa-info.fa-2x
//-               span.nav-text
//-                 | Documentation
//-         ul.logout
//-           li
//-             a(href='#')
//-               i.fa.fa-power-off.fa-2x
//-               span.nav-text
//-                 | Logout


link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
 
#mySidebar.w3-sidebar.w3-bar-block.w3-card.w3-animate-left(style='display:none')
  button.w3-bar-item.w3-button.w3-large(onclick='w3_close()') Cerrar ×
  a.w3-bar-item.w3-button(href='#') Link 1
  a.w3-bar-item.w3-button(href='#') Link 2
  a.w3-bar-item.w3-button(href='#') Link 3
#main
  .w3-teal
    if !isAuthenticated
      button#openNav.w3-button.w3-teal.w3-xlarge(onclick='w3_open()') ☰
    .w3-container
      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")   
        li(style="list-style:none;").pull-left
          h2(text-select style="color:white;") Borges
        ul(class="nav navbar-nav navbar-right")
          if !isAuthenticated
               
            li
              a.i.fa.fa-home.fa-2x(href="/")
            li
              a(href="/")= 'Inicio'
            li
              a(href="/auth/signup")= 'Registrarse'
            li
              a(href="/auth/signin")= 'Iniciar Sesion'
 
script.
  function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("main2").style.marginLeft = "25%";
  document.getElementById("main3").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
  }
  function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("main2").style.marginLeft = "0%";
  document.getElementById("main3").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
  }

