@import url(https://fonts.googleapis.com/css?family=Lato:300);
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }
#mySidebar{
    background-color: #009383; 
    opacity: 0.5;
    color: #ffffff;
    
    }
    /* #fondotabla{
    background-color: #ffffff; 
    opacity: 0.5;
    color: #ffffff;
    } */
    #fondotabla{
        background-color: #ffffff
    }
    hr{ 
 
        background-color:#61ebcf; 
        max-width: auto;
        border-top: 2px ;
        text-align: center;
        padding-top: 4px;
      } 