
#registrar.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header(style='padding:40px 50px;')
                
                button.close(type='button', data-dismiss='modal') ×
                h4
                span.i.fa.fa-pencil-alt
                |  Registrar Genero
            .modal-body
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Genero
                    br
                
                    form.form-horizontal(name='myFormReg', novalidate='')
                        .form-group
                            label.col-md-4.control-label Nombre Genero :
                            .col-md-7.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-transgender-alt
                                    input.form-control(name="genero", type='text', placeholder='Genero', ng-model='newUser.genero', required, ng-maxlength="50")
                                span(style='color:red', ng-show='myFormReg.genero.$invalid && myFormReg.genero.$touched')
                                    span(ng-show='myFormReg.genero.$error.required') ingresa genero.
                                    span(ng-show='myFormReg.genero.$error.maxlength') Muy largo.
                                
                     
                        .panel-footer.text-right
                            hr
                            button.btn.btn-success(type='button', ng-click='saveUser()',data-dismiss='modal', ng-disabled="myFormReg.genero.$invalid" )
                                span.i.fas.fa-check
                                |  Registrar
                            button.btn.btn-danger(data-dismiss='modal' ,ng-click='recupera()')
                                span.i.fas.fa-times
                                |  Cerrar
                            
                        

