 
#registrarUnidad.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header(style='padding:40px 50px;')
                button.close(type='button', data-dismiss='modal') ×
                h4
                span.i.fa.fa-pencil-alt
                |  Registrar Unidad
            .modal-body
                
                form(class="well form-horizontal" action='/unidad/unidad' method='post' autocomplete='off' )
                    .form-group
                        input#opc.form-control(required type='text' name='opc'  value='1' style="display:none")
                        label.col-md-4.control-label Unidad
                        .col-md-8.inputGroupContainer
                            .input-group
                                span.input-group-addon
                                    span.i.fas.fa-university
                                input#unidad.form-control(name='unidad', placeholder='unidad', type='text' required)
                    .form-group
                        label.col-md-4.control-label Lugar
                        .col-md-8.inputGroupContainer
                            .input-group
                                span.input-group-addon
                                    span.i.fas.fa-map-marker-alt
                                textarea#lugar.form-control(required name='lugar',placeholder='lugar', cols='30', rows='2')
                    
                    hr
                    .form-group
                        .col-md-2
                        .col-md-3
                    
                            button.btn.btn-success(type='submit' name="registro")
                                span.i.fas.fa-check
                                |  Registrar
                        .col-md-2
                        .col-md-3
                            button.btn.btn-danger(type='submit', data-dismiss='modal')
                                span.i.fas.fa-times
                                |  Cerrar
                        .col-md-2
            //- .modal-footer
                    

  