extends ../templates/default

block content
    br
    br
    br
    div(ng-app='unidadApp', ng-Cloak)
        div(ng-controller='unidadController') 
            div(ng-init='get()')   
                .container
                    .panel.panel-default
                        .panel-heading
                            h1.inverse.title.text-center Unidad
                            hr
                    .panel.panel-default
                        .panel-heading
                            br
                            .form-group.well
                                .input-group.col-md-12
                                
                                    .col-md-4
                                        button.btn.btn-info.btn-lg(type='button', data-toggle='modal', 
                                            data-target='#registrar') Registrar Unidad
                                        include registrarUnidad
                                    .col-md-4 
                                        .input-group
                                            .input-group-addon 
                                                label.control-label mostrar 
                                            .inputGroupContainer
                                                select.btn.btn-default(ng-model='pageSize', ng-init="paginas[0]" ng-options='x for x in paginas ',  ng-change='sizePag();configPages();')
                                                    //- option(value='') --Elige opcion--    
                                    .col-md-4
                                        form.form-horizontal(name='myFormSeacrh', novalidate='')
                                            .input-group
                                                .input-group-addon
                                                    span.fas.fa-search-plus
                                                    //- |    Buscar
                                                input.form-control(type='text', name='buscar',ng-model='buscar', placeholder='Buscar...',required, ng-change="buscar2 = '';get();configPages();sizePag()")

                        .panel-body
                            .alert.alert-warning.fade.in.myAlert(ng-if='alertMassege')
                                a.close(href='#', data-dismiss='alert', ng-click='clickedAlert()') ×
                                h4 {{alertMassege}}
                            div(ng-show="!buscar")
                                h5 Total de unidades {{datos.length}} 
                            div(ng-show="buscar")
                                h5 lista filtrada de {{filtered.length}} unidades que contienen 
                                    span(style='color:green') {{buscar}}
                            .div(style="overflow-x:auto; " )
                                .table-responsive
                                    table.table.table-striped.table-bordered(ng-init='configPages(); ')
                                        tr.text-center
                                            
                                            th 
                                                a( ng-click="sortName = 'idunidad'; sortReverse = !sortReverse")
                                                    | Index
                                                    span.fa.fa-caret-down(ng-show='!sortReverse')
                                                    span.fa.fa-caret-up(ng-show='sortReverse')
                                            th 
                                                a( ng-click="sortName = 'unidad'; sortReverse = !sortReverse")
                                                    | unidad
                                                    span.fa.fa-caret-down(ng-show='!sortReverse')
                                                    span.fa.fa-caret-up(ng-show='sortReverse')
                                            
                                
                                        
                                            th Lugar
                                            th Editar
                                            th Borrar
                                            th Detalles
                                        tbody
                                            tr(ng-repeat='item in filtered = (datos| filter:buscar2)  |orderBy:sortName:sortReverse| startFromGrid: currentPage * pageSize | limitTo: pageSize', ,='', ng-click='seleccionarUsuario(idalumno)')
                                                //- td {{$index+1}}
                                                td {{item.idunidad}}
                                                td {{item.nombre}}
                                                td {{item.lugar}}
                                               
                                              
                                                
                                                td
                                                    
                                                    a.action.btn.btn-sm.btn-primary(type='button', data-toggle='modal',title='Editar',
                                                        data-target='#editar',data-tooltip='Editar',ng-click='select(item)')
                                                        i.fa.fa-edit 
                                                    
                                            
                                                td
                                                    //- button.btn.btn-danger(data-toggle='modal', data-target='#deleteModal', ng-click='selectItem(user)') Delete
                                                    a.action.btn.btn-sm.btn-danger(type='button', data-toggle='modal', data-target='#delete',
                                                        data-tooltip='Eliminar', ng-click='select(item)')
                                                            i.fa.fa-trash
                                                   
                                                td  
                                                    
                                                    a.action.btn.btn-sm.btn-info( data-toggle='modal', data-target='#consultar',data-tooltip='Consultar',
                                                        ng-click='select(item)')
                                                        i.fa.fa-eye 

                            .panel-footer
                                //- .col-md-12  
                                .input-group(ng-show="pages.length > 10")                    
                                    .inputGroupContainer
                                        h5 Estas en la Pagína No. 
                                            span(style='color:green')  {{currentPage+1}}
      
                                    .btn-group
                                        button.btn.btn-default(type='button', ng-disabled='currentPage == 0', ng-click='currentPage = currentPage - 1') «
                                        button.btn.btn-default(type='button', ng-disabled='currentPage == page.no - 1', ng-click='setPage(page.no)', ng-repeat='page in pages | limitTo:3') {{page.no}} 
                                        input-group-addon
                                            span .....
                                            button.btn.btn-default(type='button', ng-disabled='currentPage == page.no - 1', ng-click='setPage(page.no)', ng-repeat='page in pages | limitTo:pages.length-3:3') {{page.no}} 
                                            button.btn.btn-default(type='button', ng-disabled='currentPage >= filtered.length/pageSize - 1', ,='', ng-click='currentPage = currentPage + 1 ') »
                                .input-group(ng-show="pages.length < 10")    
                                    .btn-group
                                        button.btn.btn-default(type='button', ng-disabled='currentPage == 0', ng-click='currentPage = currentPage - 1') «
                                        button.btn.btn-default(type='button', ng-disabled='currentPage == page.no - 1', ng-click='setPage(page.no)', ng-repeat='page in pages') {{page.no}}
                                        button.btn.btn-default(type='button', ng-disabled='currentPage >= filtered.length/pageSize - 1', ,='', ng-click='currentPage = currentPage + 1') »
                
                                        



                //- Modales
                include editarUnidad
                include eliminarUnidad 
                include consultarUnidad                                   
    
    script(type='text/javascript', src='/javascripts/unidad.js')        