
#editar.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header(style='padding:40px 50px;')
                button.close(type='button', data-dismiss='modal') ×
                h4
                span.i.fa.fa-pencil-alt
                |  Registrar Alumno
            .modal-body
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Alumno
                    br
                    
                    form.form-horizontal(name='myFormEdit', novalidate='')
                        //- {{clickedAlumno}}
                        .form-group
                            label.col-md-3.control-label Nombre 
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-user
                                    input.form-control(name='nombre', placeholder='Nombre', type='text', ng-model='clickedAlumno.nombre', required, ng-maxlength="50" )
                                    span.input-group-btn
                                        button.btn.btn-primary(ng-show='!nombre2', ng-click='nombre2 = true',ng-disabled="myFormEdit.nombre.$invalid ")
                                            span.i.fa.fa-plus
                                        //- button(ng-click="myFormEdit.apellido.clickedAlumno.nombre.$rollbackViewValue(); clickedAlumno.nombre=''") 
                                span(style='color:red', ng-show='myFormEdit.nombre.$invalid && myFormEdit.nombre.$touched')
                                    span(ng-show='myFormEdit.nombre.$error.required') ingresa nombre.
                                    span(ng-show='myFormEdit.nombre.$error.maxlength') maximo 50.
                                    span.errorMes {{errorMes}}
                                    span.errorMes {{errorMess}}

            
                        .form-group(ng-show='nombre2')
                            label.col-md-3.control-label Nombre 2
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-user
                                    input.form-control(name='nombre2', placeholder='Nombre 2', type='text', ng-model='clickedAlumno.nombre2', required, ng-maxlength="50" )
                                    span.input-group-btn
                                        button.btn.btn-primary(ng-show='!nombre3', ng-click='nombre3= true',ng-disabled="myFormEdit.nombre2.$invalid ") 
                                            span.i.fa.fa-plus
                                        button.btn.btn-danger(ng-show='!nombre3', ng-click="nombre2 = false ;clickedAlumno.nombre2=''") 
                                            span.i.fa.fa-minus
                                  
                                span(style='color:red', ng-show='myFormEdit.nombre2.$invalid && myFormEdit.nombre2.$touched')
                                    span(ng-show='myFormEdit.nombre2.$error.required') ingresa nombre.
                                    span(ng-show='myFormEdit.nombre2.$error.maxlength') maximo 50.
                                    span.errorMes {{errorMes}}
                                    span.errorMes {{errorMess}}
                         
                        .form-group(ng-show='nombre3')
                            label.col-md-3.control-label Nombre 3
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-user
                                    input.form-control(name='nombre3', placeholder='Nombre 3', type='text', ng-model='clickedAlumno.nombre3', required, ng-maxlength="50")
                                    span.input-group-btn
                                        button.btn.btn-danger(ng-click="nombre3 = false; clickedAlumno.nombre3=''") 
                                            span.i.fa.fa-minus
                                 
                                span(style='color:red', ng-show='myFormEdit.nombre3.$invalid && myFormEdit.nombre3.$touched')
                                    span(ng-show='myFormEdit.nombre3.$error.required') ingresa nombre.
                                    span(ng-show='myFormEdit.nombre3.$error.maxlength') maximo 50.
                                    span.errorMes {{errorMes}}
                                    span.errorMes {{errorMess}}
                                   
  
                        .form-group
                            label.col-md-3.control-label Apellido
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-user
                                    input.form-control(name='apellido', placeholder='Apellido', type='text', ng-model='clickedAlumno.apellido', required, ng-maxlength="50")
                                    span.input-group-btn
                                        button.btn.btn-primary(ng-show='!apellido2', ng-click='apellido2 = true', ng-disabled="myFormEdit.apellido.$invalid")
                                            span.i.fa.fa-plus
                                        


                                span(style='color:red', ng-show='myFormEdit.apellido.$invalid && myFormEdit.apellido.$touched')
                                    span(ng-show='myFormEdit.apellido.$error.required') ingresa apellido.
                                    span(ng-show='myFormEdit.apellido.$error.maxlength') maximo 50.
                                    span.errorMes {{errorMes}}
                                    span.errorMes {{errorMess}}
                                   
                            
                        .form-group(ng-show='apellido2')
                            label.col-md-3.control-label Apellido 2
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-user
                                    input.form-control(name='apellido2', placeholder='Apellido 2', type='text', ng-model='clickedAlumno.apellido2', required, ng-maxlength="50")
                                    span.input-group-btn
                                        button.btn.btn-primary(ng-show='!apellido3', ng-click='apellido3= true',  ng-disabled="myFormEdit.apellido.$invalid")
                                            span.i.fa.fa-plus
                                        button.btn.btn-danger(ng-show='!apellido3', ng-click="apellido2= false;clickedAlumno.apellido2=''")
                                            span.i.fa.fa-minus
                                span(style='color:red', ng-show='myFormEdit.apellido2.$invalid  && myFormEdit.apellido2.$touched')
                                    span(ng-show='myFormEdit.apellido2.$error.required') ingresa apellido.
                                    span(ng-show='myFormEdit.apellido2.$error.maxlength') maximo 50.
                                    span.errorMes {{errorMes}}
                                    span.errorMes {{errorMess}}

                        .form-group(ng-show='apellido3')
                            label.col-md-3.control-label Apellido 3
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-user
                                    input.form-control(name='apellido3', placeholder='Apellido 3', type='text', ng-model='clickedAlumno.apellido3', required, ng-maxlength="50")
                                    span.input-group-btn
                                        button.btn.btn-danger(ng-click="apellido3= false;clickedAlumno.apellido3=''")
                                            span.i.fa.fa-minus
                                span(style='color:red', ng-show='myFormEdit.apellido3.$invalid && myFormEdit.apellido3.$touched' )
                                    span(ng-show='myFormEdit.apellido3.$error.required') ingresa apellido.
                                    span(ng-show='myFormEdit.apellido3.$error.maxlength') maximo 50.
                                    span.errorMes {{errorMes}}
                                    span.errorMes {{errorMess}}

                        .form-group 
                            label.col-md-3.control-label Matricula
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-fingerprint
                                    input.form-control(name='matricula', placeholder='matricula', type='number', ng-model='clickedAlumno.matricula', required, ng-maxlength="8")    
                                span(style='color:red', ng-show='myFormEdit.matricula.$invalid && myFormEdit.matricula.$touched')
                                    span(ng-show='myFormEdit.matricula.$error.required') ingresa matricula.
                                    span(ng-show='myFormEdit.matricula.$error.maxlength') maximo 50. 
                                    
                        .form-group
                            label.col-md-3.control-label Genero
                            .col-md-8.inputGroupContainer
                                .input-group
                                    .input-group-addon
                                        span.i.fas.fa-transgender-alt
                                    .inputGroupContainer  
                                        select.btn.btn-default(name="genero", ng-model='clickedAlumno.idgenero',required )
                                            option(style='display:none', value='') elige genero ....    
                                            option( ng-repeat='x  in genero', value='{{x.idgenero}}', ng-selected='x.genero === clickedAlumno.genero ' ) {{x.genero}}
                                        span.input-group-text(style='color:red', ng-show='myFormEdit.genero.$invalid && myFormEdit.genero.$touched' )
                                            span(ng-show='myFormEdit.genero.$error.required')     
                                                | ingresa genero.
                    
                        .form-group
                            label.col-md-3.control-label Departamento
                            .col-md-8.inputGroupContainer
                                .input-group
                                    .input-group-addon
                                        span.i.fas.fa-vector-square
                                    .inputGroupContainer
                                        
                                        //- select.btn.btn-default.col-md-12(name="departamento", ng-model='clickedAlumno.iddepartamento', ng-init="departamento" ng-options='x.departamento for x in departamento',required )
                                        //-     option(style='display:none', value='') elige departamento ....    
                                        select.btn.btn-default.col-md-12(name="departamento", ng-model='clickedAlumno.iddepartamento',required )
                                            option(style='display:none', value='') elige departamento ....    
                                            option( ng-repeat='x  in departamento', value='{{x.iddepartamento}}', ng-selected='x.departamento === clickedAlumno.departamento ' ) {{x.departamento}} 
                                        span.input-group-text(style='color:red', ng-show='myFormEdit.departamento.$invalid && myFormEdit.departamento.$touched' )
                                            span(ng-show='myFormEdit.departamento.$error.required')     
                                                | ingresa departamento.
                                        //- select.btn.btn-default.col-md-12(name="departamento", ng-model='clickedAlumno.iddepartamento',required )
                                        //-     option(style='display:none', value='') elige departamento ....    
                                        //-     option( ng-repeat='x  in departamento', value='{{x.iddepartamento}}', ng-selected='x.iddepartamento === clickedAlumno.iddepartamento ' ) {{x.departamento}} 
                                        //- span.input-group-text(style='color:red', ng-show='myFormEdit.departamento.$invalid && myFormEdit.departamento.$touched' )
                                        //-     span(ng-show='myFormEdit.departamento.$error.required')     
                                        //-         | ingresa departamento.
                        
                        
                        
                     
                        
                                      
                    
                    .panel-footer.text-right
                        hr
                        button.btn.btn-success(type='button', ng-click='updateAlumno(clickedAlumno);',data-dismiss='modal', 
                            ng-disabled=`myFormEdit.nombre.$invalid  && myFormEdit.apellido.$invalid 
                            && myFormEdit.genero.$invalid && myFormEdit.departamento.$invalid ` )
                            span.i.fas.fa-sync-alt
                            |  Atualizar
                        button.btn.btn-danger(data-dismiss='modal' ,ng-click='getAlumno()')
                            span.i.fas.fa-times
                            |  Cerrar
                        