 
.col-md-8
  #myModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header(style='padding:40px 50px;')
                button.close(type='button', data-dismiss='modal') ×
                h4
                span.glyphicon.glyphicon-pencil
                |  Registrar Alumno
            .modal-body(style='padding:40px 50px;')


                button.btn.btn-success.btn-default.btn-block(type='submit' name="registro")
                    span.glyphicon.glyphicon-ok
                    |  Registrar

            .modal-footer
                button.btn.btn-danger(type='submit', data-dismiss='modal')
                    span.glyphicon.glyphicon-remove
                    |  Cerrar
                

  