extends ../templates/default

block content
    br
    br
    br
    br
    
    .container
        .panel.panel-default
            .panel-heading
            
                h1.inverse.title.text-center Alumnos
                hr
                div.col-md-10
         .panel.panel-default
            .panel-heading
                button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Registrar Alumno
                br
                table#example.table.table-striped.table-bordered
                    thead
                        tr
                            th Nombre
                            th Apellido P
                            th Apellido M
                            th Matricula
                            th Genero
                            th Grado
                            th Departamento
                    
                    tbody
                        each item, i in items
                            tr
                                td= item.nombre
                                td= item.apellido_1
                                td= item.apellido_2
                                td= item.matricula


    script(src='../javascripts/table.js')
    section#services
    include ../alumno/registrarAlumno