link(rel='stylesheet', href='/stylesheets/detalle.css')
                        
#consultar.modal.fade( role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            figure.snip1336
                .contenedor
                    img(src='http://eitmedia.mx/media/k2/items/cache/d7ef0b021f0753c7a876ceb95a8308cb_XL.jpg')
                        
                    //- .texto-encima Texto
                    .centrado 
                        div(class='col-md-4 col-md-offset-0') 
                            h2#TituloS.text-center
                    

                figcaption
                    .container
                        #accordion2.accordion
                            .accordion-group
                              
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseOne')
                                        span.i.fas.fa-flask
                                        | Especialidad     
                                #collapseOne.accordion-body.collapse.in
                                    .accordion-inner
                                        div(class='col-md-12 col-md-offset-0')   
                                            .col-md-5              
                                                p#text1
                                            
                            
                            
                            .accordion-heading
                                a.accordion-toggle.button.btn.btn-danger(type='submit', data-dismiss='modal')
                                    span.i.fas.fa-times
                                    |  Cerrar
                            
                    
                                

                                        
                

                        