

link(rel='stylesheet', href='/stylesheets/detalle.css')
                        
#consultar.modal.fade( role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            figure.snip1336
                .contenedor
                    img(src='http://eitmedia.mx/media/k2/items/cache/d7ef0b021f0753c7a876ceb95a8308cb_XL.jpg')
                        
                    //- .texto-encima Texto
                    .centrado 
                        //- div(class='col-md-4 col-md-offset-0') 
                        h1 {{clicked.especialidad}} 
                figcaption
                    .container
                        #accordion2.accordion
                            .accordion-group
                              
                            
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion4', href='#collapse3')
                                        pan.i.fas.fa-flask
                                        | Especilaidad    
                                #collapse3.accordion-body.collapse.in
                                    .accordion-inner
                                        p {{clicked.especialidad}}

                            
                            .accordion-heading
                                a.accordion-toggle.button.btn.btn-danger(type='submit', data-dismiss='modal')
                                    span.i.fas.fa-times
                                    |  Cerrar
                            
                    
                                

                                        
                

                        
                    
                                

                                        
                

                        