#delete.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header(style='padding:40px 50px;')
                button.close(type='button', data-dismiss='modal') ×
                h4
                span.i.fa.fa-trash-alt
                |  Borrar Departamento
            .modal-body
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Departamento
                    
                    .panel-body
                        h3.text-center| ¿Estás seguro de borrar 
                            span(style='color:red') {{clickedDepartamento.departamento}} 
                            | ?
                    
                    .panel-footer.text-right
                        hr
                        button.btn.btn-success(type='button', ng-click='delete(clickedDepartamento.iddepartamento)', data-dismiss='modal' )
                            span.i.fas.fa-check
                            |  Si
                        
                        button.btn.btn-danger(data-dismiss='modal')
                            span.i.fas.fa-times
                            |  Cerrar