#registrar.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header(style='padding:40px 50px;')
                button.close(type='button', data-dismiss='modal') ×
                h4
                span.i.fa.fa-pencil-alt
                |  Registrar Departamento
            .modal-body
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Departamento
                    br
                    .panel-body
                        form.form-horizontal(name='myFormReg', novalidate='')
                            //- {{newDepartamento}}
                            .form-group
                                label.col-md-3.control-label Departamento 
                                .col-md-8.inputGroupContainer
                                    .input-group
                                        span.input-group-addon
                                            span.i.fas.fa-vector-square
                                        input.form-control(name='departamento', placeholder='Departamento', type='text', ng-model='newDepartamento.departamento', required, ng-maxlength="50" )
                                        
                                            
                                    span(style='color:red', ng-show='myFormReg.departamento.$invalid && myFormReg.departamento.$touched')
                                        span(ng-show='myFormReg.departamento.$error.required') ingresa departamento.
                                        span(ng-show='myFormReg.departamento.$error.maxlength') maximo 50.
                                        span.errorMes {{errorMes}}
                                        span.errorMes {{errorMess}}

                
                                        
                            .form-group
                                label.col-md-3.control-label Especialidad
                                .col-md-8.inputGroupContainer
                                    .input-group
                                        .input-group-addon
                                            span.i.fas.fa-transgender-alt
                                        .inputGroupContainer
                                            select.btn.btn-default.col-md-12(name="especialidad", ng-model='newDepartamento.especialidad', ng-init="especialidad" ng-options='x.especialidad for x in especialidad',required )
                                                option(style='display:none', value='') elige especialidad ....    
                                    span.input-group-text(style='color:red', ng-show='myFormReg.especialidad.$invalid && myFormReg.especialidad.$touched' )
                                        span(ng-show='myFormReg.especialidad.$error.required')     
                                            | ingresa especialidad.
                        
                    
                    .panel-footer.text-right
                        hr
                        button.btn.btn-success(type='button', ng-click='saveDepartamento();',data-dismiss='modal', 
                            ng-disabled=`myFormReg.departamento.$invalid  || myFormReg.especialidad.$invalid `)
                            span.i.fas.fa-check
                            |  Registrar
                        
                        button.btn.btn-danger(data-dismiss='modal' ,ng-click='getDepartamento()')
                            span.i.fas.fa-times
                            |  Cerrar
                        