link(rel='stylesheet', href='/stylesheets/detalle.css')
                        
#viewModal.modal.fade( role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            figure.snip1336
                .contenedor
                    img(src='http://eitmedia.mx/media/k2/items/cache/d7ef0b021f0753c7a876ceb95a8308cb_XL.jpg')
                        
                    //- .texto-encima Texto
                    .centrado 
                        div(class='col-md-4 col-md-offset-0') 
                            h2#TituloS.text-center
                    

                figcaption
                    .container
                        #accordion2.accordion
                            .accordion-group
                              
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseOne')
                                        i.fa.fa-list
                                        | Resumen        
                                #collapseOne.accordion-body.collapse.in
                                    .accordion-inner
                                        div(class='col-md-12 col-md-offset-0')   
                                            .col-md-5              
                                                p#descriptionS
                                            
                            
                            .accordion-group
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseTwo')
                                        i.fa.fa-user
                                        | Alumno
                                                        
                                #collapseTwo.accordion-body.collapse.in
                                    .accordion-inner
                                        h3#AlumnoS
                                
                            
                            .accordion-group
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseGrado')
                                        i.fas.fa-user-graduate
                                        | Grado
                                                        
                                #collapseGrado.accordion-body.collapse.in
                                    .accordion-inner
                                        p#gradoS
                                
                            .accordion-group
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseUnidad')
                                        i.fas.fa-university
                                        | Unidad
                                                        
                                #collapseUnidad.accordion-body.collapse.in
                                    .accordion-inner
                                        p#unidadS
                                
                            .accordion-group
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseDepto')
                                        i.fas.fa-vector-square
                                        | Departamento
                                                        
                                #collapseDepto.accordion-body.collapse.in
                                    .accordion-inner
                                        p#departamentoS
                                        
                            .accordion-group
                                .accordion-heading
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseThree')
                                        i.fas.fa-user-tie
                                        | Director                 
                                #collapseThree.accordion-body.collapse.in
                                    .accordion-inner
                                        h3#investigador1S
                                        div(class='col-md-12 col-md-offset-0')   
                                            .col-md-5              
                                                hr
                                        .col-md-8
                                            
                                            .col-md-3

                                                label(for="director")
                                                    | Codirector(es) :
                                            .col-md-5
                                                p#investigador2S
                                                p#investigador3S
                                                p#investigador4S
                                                p#investigador5S
                            //- .col-md-10
                            //-     .col-md-4
                            .accordion-heading
                                a.accordion-toggle.button.btn.btn-danger(type='submit', data-dismiss='modal')
                                    span.i.fas.fa-times
                                    |  Cerrar
                            
                    
                                

                                        
                

                        