#viewModal.modal.fade( role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content.text-center
            .row
                .col-md-12
                    .cover
                        .c-overlay
                            button.close(type='button', data-dismiss='modal', aria-label='Close', style='position:absolute; color:#fff; top: 10px; right:10px;')
                                span(aria-hidden='true') ×
                            br
                            h1#TituloS
                            //- h1#AlumnoS
                
                    br  
                    h3 Detalles :
                    hr          
                    .detail
                        
                               

                        ul.col-md-12
                            li.col-md-6.text-right
                                h3 Alumno:
                            li.col-md-6.text-left
                                h3#AlumnoS
                        ul.col-md-12
                            li.col-md-6.text-right
                                h3 Resumen:
                            li.col-md-6.text-left
                                h3#descriptionS
                        ul.col-md-12
                            li.col-md-6.text-right
                                h3 Departamento:
                            li.col-md-6.text-left
                                h3#departamentoS
                        ul.col-md-12
                            li.col-md-6.text-right
                                h3 Grado:
                            li.col-md-6.text-left
                                h3#gradoS
                        ul.col-md-12
                            li.col-md-6.text-right
                                h3 Unidad:
                            li.col-md-6.text-left
                                h3#unidadS
                        ul.col-md-12
                            li.col-md-6.text-right
                                h3 Director:
                            li.col-md-6.text-left
                                h3#investigador1S
                        ul.col-md-12
                            li.col-md-6.text-right
                                h3 Codirector 1:
                            li.col-md-6.text-left
                                h3#investigador2S
                        ul.col-md-12
                            li.col-md-6.text-right
                                h3 Codirector 2:
                            li.col-md-6.text-left
                                h3#investigador3S
                        ul.col-md-12
                            li.col-md-6.text-right
                                h3 Codirector 3:
                            li.col-md-6.text-left
                                h3#investigador4S
                        ul.col-md-12
                            li.col-md-6.text-right
                                h3 Codirector 4:
                            li.col-md-6.text-left
                                h3#investigador5S