extends ../templates/default

block content

  include registrarTesis.jade
    
                      //block side            
      
  //- p= 'Hola... ' + user.nombre 
  //- button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
    | Registrar Tesis
  //include registrarTesis.jade
  