//- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
extends ../templates/default

block content
    div(class='col-md-6 col-md-offset-3')
  
        if tesis.length > 0
            script(src='../javascripts/mensajesTesis/tesisCorrecta.js')
        if tesisEditar.length > 0
            script(src='../javascripts/mensajesTesis/tesisEditada.js')
        if tesisEliminar.length > 0
            script(src='../javascripts/mensajesTesis/TesisElimina.js')
    br
    br
    br
    br
    h1.title.text-center='Bienvenido    ' + user.nombre
    h1.title.text-center='Rol ' + user.rol
    br
    .container
        div(class='col-md-12 col-md-offset-0')
            .panel.panel-default
                .panel-heading
                
                    h1.inverse.title.text-center Status Tesis
                    hr
            
            //- -if (user.rol=== "alumno")
            //-     include alumno
            //- -if (user.rol=== "administrador")
            //-     include administrador
            //- -if (user.rol=== "investigador")
            //-     include director
                    
   