//- div(ng-app="myApp" )
  div(ng-controller="myCtrl")
    p
        | Name : 
        input(type='text', ng-model='name')
      h1 Hello {{name}}

    p Select a car:
    select(ng-model='selectedCar', ng-options='x for (x, y) in cars')
    h1 You selected: {{selectedCar.brand}}
    h2 Model: {{selectedCar.model}}
    h3 Color: {{selectedCar.color}}
   
  div(ng-controller='customersCtrl')
    table
      th N° 
      th Nombre
      th Puesto
      tr(ng-repeat='x in names')
        td {{ $index + 1 }}
        p="   "
        td {{ x.Name }}
        td {{ x.Country }}
.panel.panel-primary
  .panel-heading
    h3.panel-tilte Registrar Tesis 
  form(action='/images/create', method='post', enctype='multipart/form-data')
    .panel-body.form-horizontal  
      .form-group.col-md-12
        label.col-md-4.control-label(for='file')
          h3=" Nombre : "+ user.nombre
            hr
        label.col-md-4.control-label(for='file')
          h3=" Email : "+ user.email
      .form-group.col-md-12
        label.col-md-2.control-label(for='title')
          | Título:
        .col-md-10
          input#title.form-control(type='text', name='title')
      .form-group.col-md-12
        label.col-md-2.control-label(for='description')
          | Descripción:
        .col-md-10
          textarea#description.form-control(name='description', cols='30', rows='2')
          .form-group.col-md-12
        label.col-md-2.control-label(for='description')
          | Director:
        .col-md-4
          div(ng-app='myApp', ng-controller='myCtrl')
            select(ng-model='selectedName', ng-options='x for x in names')
          script.
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
            $scope.names = ["Emil", "Tobias", "Linus"];
            });

          .dropdown
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | Seleccionar Director 
              b.caret
            ul.dropdown-menu
              li
                p Director 
              li
                p Director 
              li
                p Director 
              li.divider
              li
                p Director 
              li.divider
              li
                b Director 
        .col-md-2
          //- .form-check.form-check-inline
          //-   label.form-check-label
          //-     input.form-check-input(type='checkbox', value='')
          //-     | ¿es externo?
          input#check(type='checkbox', name='check', value='1', onchange='javascript:showContent()')
          b ¿es externo?
      div(id="content",style='display: none;')
        .form-group.col-md-12
          label.col-md-2.control-label(for='NombreExt')
            | Nombre:
          .col-md-10
            input#title.form-control(type='text', name='NombreExt')
        .form-group.col-md-12
          label.col-md-2.control-label(for='InstExt')
            | Institución:
          .col-md-10
            input#title.form-control(type='text', name='InstExt')
      .form-group.col-md-12
        label.col-md-12.text-left
          | Directores elegidos
        div(class='table-responsive' )  
          table#datatable.table.table-striped.table-bordered 
            thead
            th N°
            th nombre
            th Puesto
            th ¿es externo?
        

      .from-group.col-md-12
        .col-md-12.text-right
            button#login-btn.btn.btn-success(type='submit')
                i.fa.fa-cloud-upload
                    |  Registrar 