#myModal1.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header(style='padding:35px 10px;')
                button.close(type='button', data-dismiss='modal') ×
                h4
                span.i.fa.fa-lock
                |  Iniciar Sesión
            .modal-body(style='padding:40px 50px;')
                form(action='/auth/signin' method='post' autocomplete='off')
                        
                    .form-group
                        label(for='email')
                            span.i.fa.fa-user
                            |  Usuario
                        input#psw.form-control(required formnovalidate="formnovalidate" type='text' name='username' placeholder='Usuario' autofocus )
                    .form-group
                        label(for='password')
                            span.i.fa.fa-key
                            |  Contraseña
                        input#psw.form-control(required formnovalidate="formnovalidate"  type='number' name='password' placeholder='Contraseña' )
                    
                        
                    
                    //.checkbox
                        label
                        input(type='checkbox', value='', checked='')
                        | Remember me
                    button.btn.btn-success.btn-block(type='submit')
                        span.i.fas.fa-check
                        |  Iniciar Sesión
            .modal-footer
                button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal')
                    span.i.fas.fa-times
                    |  Cerrar
script.
    $(document).ready(function(){
    $("#myBtn1").click(function(){
    $("#myModal1").modal();
    });
    });